<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - Strømoptimering</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StromligningApp.styles.css" asp-append-version="true" />
</head>

<body>
    <main class="container py-4">
        <header class="text-center mb-5">
            <h1>⚡ Strømoptimering ⚡</h1>
            <p class="text-muted">
                Find de billigste tidspunkter at bruge strøm på.
            </p>
        </header>
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/chart-4.5.0.umd.min.js"></script>
    <script src="~/js/price-chart.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
