@model IReadOnlyList<OptimalPeriodModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fra</th>
            <th>Til</th>
            <th>Gennemsnit</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var period in Model)
        {
            <tr>
                <td>
                    @period.LocalStartTime.ToString("dd-MM-yyyy HH:mm")
                </td>
                <td>
                    @period.LocalEndTime.ToString("dd-MM-yyyy HH:mm")
                </td>
                <td>
                    @period.AveragePricePerKwh.ToString("0.00") kr.
                </td>
            </tr>
        }
    </tbody>
</table>
