@using System.Text.Json
@model PricesViewModel

@{
    var jsonOptions = new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    };
}

<div id="price-results">
    <div id="best-period"></div>

    <div class="card mb-4">
        <div class="card-body">
            <canvas class="price-chart"></canvas>
        </div>
    </div>

    <h2 class="h4">Top 10 billigste perioder</h2>

    <div id="optimal-periods"></div>

    <script class="price-data" type="application/json">
            @Html.Raw(JsonSerializer.Serialize(Model.Prices, jsonOptions))
    </script>
</div>
