@using System.Text.Json
@model PricesViewModel

<h1 class="text-center mb-4">
    Strømpriser
</h1>

<div class="card">
    <div class="card-body">
        <canvas id="priceChart"></canvas>
    </div>
</div>

<script id="price-data" type="application/json">
    @Html.Raw(JsonSerializer.Serialize(
                                                                    Model.Prices,
                                                                    new JsonSerializerOptions
                                                                    {
                                                                                        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                                                                    }))
</script>

<script id="optimal-period-data" type="application/json">
    @Html.Raw(JsonSerializer.Serialize(
                                    Model.CheapestPeriod,
                                    new JsonSerializerOptions
                                    {
                                                    PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                                    }))
</script>
