@model IReadOnlyList<ElectricityPrice>

<form hx-get="/Prices/OptimalPeriods"
      hx-target="#optimal-periods"
      hx-swap="innerHTML">

    <label>Varighed</label>

    <select name="minutes">
        <option value="15">15 minutter</option>
        <option value="30">30 minutter</option>
        <option value="60">1 time</option>
        <option value="120">2 timer</option>
        <option value="180">3 timer</option>
        <option value="240">4 timer</option>
    </select>

    <button type="submit">
        Find billigste periode
    </button>
</form>

<div id="optimal-periods">
</div>
