@model PricesViewModel

<h1 class="text-center mb-4">
    Strømpriser
</h1>

<div class="mb-4">
    <label class="form-label" for="duration">Varighed</label>
    <select id="duration"
            class="form-select"
            name="minutes"
            hx-get="@Url.Action("OptimalPeriods")"
            hx-trigger="change"
            hx-target="#price-results"
            hx-swap="outerHTML">
        <option value="30">30 minutter</option>
        <option value="60">1 time</option>
        <option value="120" selected>2 timer</option>
    </select>
</div>

<partial name="_PriceResults" model="Model" />
